/* :root variables for light theme */
:root {
  --text-color-light: #333;
  --chart-background-color-light: #fff;
  --accent-background-light: #6883BC;
  --button-background-light: #6883BC;
  --button-text-light: #fff;
}

/* :root variables for dark theme */
:root {
  --text-color-dark: #fff;
  --chart-background-color-dark: #576CBC;
  --accent-background-dark: #576CBC;
  --button-background-dark: #0056b3;
  --button-text-dark: #fff;
}

/* Common styles for both themes */
/* Chart Container Styles */
.chart-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  margin: 16px;
}

/* Header Styles */
.chart-title {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

/* Subtitle Styles */
.chart-subtitle {
  font-size: 18px;
  color: #666;
}

/* Accent Background Styles */
.accent-background {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -8px;
  border-radius: 50%;
  filter: blur(3px);
  z-index: 10;
}

/* Chart Controls Styles */
.chart-controls {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Chart Buttons Container Styles */
.chart-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Chart Button Styles */
.chart-button {
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Active Button Styles */
.active-button {
  color: var(--button-text-light);
  background-color: var(--button-background-light);
}

/* Inactive Button Styles */
.inactive-button {
  color: var(--accent-background-light);
  background-color: var(--chart-background-color-light);
}

/* Rounded Right Button Styles */
.rounded-right-button {
  border-radius: 0 5px 5px 0;
}

/* Responsive Design (adjust as needed) */
@media (max-width: 600px) {
  .chart-button {
    font-size: 14px;
  }
}

/* Apply dark theme styles when in dark mode */
[data-theme="dark"] {
  --text-color-light: #333;
  --chart-background-color-light: #fff;
  --accent-background-light: #6883BC;
  --button-background-light: #6883BC;
  --button-text-light: #fff;
  
  --text-color-dark: #fff;
  --chart-background-color-dark: #0B2447;
  --accent-background-dark: #A5D7E8;
  --button-background-dark: #0056b3;
  --button-text-dark: #fff;
}

/* Apply theme-specific styles to elements when in dark mode */
[data-theme="dark"] .chart-container {
  background-color: var(--chart-background-color-dark);
}

[data-theme="dark"] .chart-button {
  background-color: var(--button-background-dark);
  color: var(--button-text-dark);
}

[data-theme="dark"] .active-button {
  background-color: var(--button-background-dark);
  color: var(--button-text-dark);
}

[data-theme="dark"] .inactive-button {
  background-color: var(--chart-background-color-light);
  color: var(--accent-background-light);
}

[data-theme="dark"] .accent-background {
  background-color: var(--accent-background-dark);
}
